<h2>Organizer</h2>

<form
  action=" <%= '/organizers/' + org.organizerID + '/edit' %>"
  method="POST"
>

  <div>
    <label class="form-label">
      Organizer ID:
      <input
        class="form-control"
        type="text"
        name="organizerID"
        value="<%= org.organizerID %>"
        disabled
      />
    </label>
  </div>
  <div>
    <label class="form-label">
      First Name:
      <input
        class="form-control"
        type="text"
        name="firstName"
        value="<%= org.firstName %>"
      />
    </label>
  </div>

  <div>
    <label class="form-label">
      Last Name:
      <input
        class="form-control"
        type="text"
        name="lastName"
        value="<%= org.lastName %>"
      />
    </label>
  </div>
  <div>
    <label class="form-label">
      Phone:
      <input
        class="form-control"
        type="text"
        name="phone"
        value="<%= org.phone %>"
      />
    </label>
  </div>
  <div>
    <label class="form-label">
      Address:
      <input
        class="form-control"
        type="text"
        name="address"
        value="<%= org.address %>"
      />
    </label>
  </div>

  <button type="submit" class="btn btn-primary">Edit</button>
  <a
    class="btn btn-danger"
    href="<%= '/organizers/' + org.organizerID + '/delete' %>"
    >Delete</a
  >
</form>
